{% extends 'blog/base.html' %}

{% block title%}
    Estudiantes
{% endblock title%}

{% block content_title%}
    <h2>Listado de Estudiantes</h2>
{% endblock content_title%}

{% block content%}
<ul>
    <a href="{% url 'agregar_estudiante' %}" class="btn btn-primary mb-3">Agregar Estudiante</a>
    {% for estudiante in estudiantes %}
       <li> Nombre y Apellido: {{ estudiante.nombre }} {{ estudiante.apellido }} - Email: {{ estudiante.email }} - Carrera: {{ estudiante.carrera }}</li>
       {% endfor %}
</ul>

{% endblock content %}